<.header>
  Edit Recipe <%= @recipe.id %>
  <:subtitle>Utilize este formulário para gerenciar registros de receitas em seu banco de dados.</:subtitle>
</.header>

<.recipe_form changeset={@changeset} action={~p"/my-recipes/#{@recipe}"} />

<.back navigate={~p"/my-recipes"}>Voltar para receitas</.back>
